<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body> 
    <section>
<h1> Lista de Productos</h1>
    <ul id="product-list">
        {{#each products}}
            <li>{{this.title}} - ${{this.price}}</li>
        {{/each}}
    </ul>
    </section>
<section>
{{>form}}
</section>
     <script>
        // Establece una conexión Socket.IO con el servidor
        const socket = io();

        // Maneja los mensajes recibidos del servidor
        socket.on('productUpdate', function(products) {
            // Actualiza la lista de productos en la vista
            const productList = document.getElementById('product-list');
            productList.innerHTML = '';
            products.forEach(product => {
                const listItem = document.createElement('li');
                listItem.textContent = `${product.title} - $${product.price}`;
                productList.appendChild(listItem);
            });
        });
    </script>
</body>
</html>
